/* Estilos para o container no modo claro */
.containerAlterado {
    background-color: #ececec;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 1px;
    width: 800px;
    height: 450px;
    border: 2px solid rgb(36, 44, 54);
    min-height: 100px;
    overflow: auto;
}
.containerAlterado2 {
    background-color: #ececec;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 1px;
    width: 800px;
    height: 400px;
    border: 2px solid rgb(36, 44, 54);
    min-height: 100px;
    overflow: auto;
}

.selectAlterado{
    border-color: black;
}
.containerOpcoes{
    background-color: #ececec;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 1px;
    width: 300px;
    height: 400px;
    border: 2px solid rgb(36, 44, 54);
}
.containerOpcoes.dark-mode {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #444;
    box-shadow: 0 0 5px #000;
}


/* Estilos gerais do corpo no modo claro */
body {
    background-color: rgb(212, 208, 208);
}

.td_opcao{
    width: 190px;
}

.container-scrollable {

    overflow-y: auto;  /* Habilita a rolagem vertical */
       height: auto; /* Permite que a altura seja determinada automaticamente pelo conteúdo */
            overflow-y: visible; /* Define rolagem como visível, permitindo que a div cresça conforme necessário */
    
}

/* Estilos dos inputs */
.form-control {
    border: 1px solid rgb(36, 44, 54); /* Define a borda preta nos inputs */
}

h2 {
    text-align: center;
}

/* Estilo específico para input */
input {
    size: 2px;
}

/* Modo escuro */
body.dark-mode {
    background-color: #121212;
    color: white;
}

.navbar.dark-mode {
    background-color: #333 !important;
}

.form-control.dark-mode {
    background-color: #333;
    color: white;
    border: 1px solid #444;
}

.containerAlterado.dark-mode {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #444;
    box-shadow: 0 0 5px #000;
}

.btn-toggle-dark {
    margin-left: 10px;
}

footer{
    text-align: center;
    color: rgb(139, 139, 139);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btnCentraliza{
  
  position: absolute;
  top: 50%;
  left: 43%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btnSoft{
    border-radius: 30px;
    width: 200px;
}
.centralizaDIV{
    display: flex; 
    align-items: center; 
    justify-content: center
}

.tablealterada{
    border-color:gray;
}
table.tablealterada tbody tr:hover td {
    background-color: #f1f1f1; /* Cor de fundo para o hover no modo claro */
    color: #000; /* Cor do texto no hover no modo claro */
}

.dark-mode table.tablealterada tbody tr:hover td {
    background-color: #575757; /* Cor de fundo para o hover no modo escuro */
    color: #f1f1f1; /* Mantém a cor do texto visível no modo escuro */
}
/* Dark Mode para a Tabela */


.dark-mode table {
    background-color: #383434;
    color: #f1f1f1;
    border-color: #fcfcfc; /* Borda no modo escuro */
    
}

.dark-mode input::placeholder {
    color: #ffffff; /* Cor do placeholder no modo escuro */
}

.dark-mode input{
    background-color: #4a4a4a;
}
.dark-mode input:focus{
    background-color: #4a4a4a;
}
.dark-mode input{
    color: #ffffff;
}
.dark-mode input:focus{
    color: #ffffff;
}


.dark-mode select{
    background-color: #4a4a4a;
}
.dark-mode select:focus{
    background-color: #4a4a4a;
}

.dark-mode select {
    color: white;
}

.dark-mode th {
    background-color: #4a4a4a; /* Cor de fundo dos cabeçalhos */
    color: #f1f1f1; /* Cor do texto dos cabeçalhos */
}

.dark-mode td {
    background-color: #484848; /* Cor de fundo das células */
    color: #f1f1f1; /* Cor do texto das células */
}

.dark-mode td:nth-child(even) {
    background-color: #404040; /* Cor de fundo das células em linhas pares */
}

.dark-mode tbody tr:hover {
    background-color: #575757; /* Cor de fundo das linhas quando estão sendo sobrevoadas pelo mouse */
}

.orientacao{
    float: right;
    margin-right: 5px;
}